<main class="container main">
  <div class="row">
    <section class="col-xs-12">
      <% for (var i = 0; i < 100; i++) { %>これはテスト投稿です<% } %>
      <time>2016/03/31</time>
    </section>
    <section class="col-xs-12">テスト</section>
    <section class="col-xs-12">テスト</section>
  </div>
</main>
