<main class="container main">
  <div class="row">
    <section class="col-xs-12">テスト</section>
    <section class="col-xs-12">テスト</section>
    <section class="col-xs-12">テスト</section>
  </div>
</main>
