<section class="container delete">
  <span><i class="material-icons md-26" id="hideBtn">clear</i></span>
  <ul class="row around-xs">
    <h2 class="col-xs-12">投稿を削除しますか？</h2>
    <div class="col-xs-5 deleteOk">削除する</div>
    <div class="col-xs-5 deleteChancel">キャンセル</div>
  </ul>
</section>
