<section class="container modal modals">
  <span><i class="material-icons md-26" id="hideBtn">clear</i></span>
  <ul class="row">
    <h2 class="col-xs-12">投稿</h2>
    <div class="col-xs-12">
      <form class="row around-xs middle-xs">
        <textarea class="col-xs-12" id="postForm" placeholder="投稿内容を書いてね！"></textarea>
        <div class="col-xs-3" id="count"></div>
        <input class="col-xs-2" type="submit" name="createPost" value="投稿する">
      </form>
    </div>
  </ul>
</section>
