<header class="container nav">
  <nav class="row middle-xs">
    <section class="col-xs-offset-2"></section>
    <section class="col-xs-8">もふ子@コミティア116</section>
    <section class="col-xs-2 postBtn">投稿</section>
  </nav>
</header>
