@import 'common/base';
@import 'common/grid';
@import 'common/material-icons';
@import 'common/nav';
@import 'common/modal';

.main {
  max-width: 1024px;
  padding: 2rem;
  margin: 0 auto;
  color: #fff;
  div {
    section {
      border: 1px solid #fff;
      margin: 1rem auto;
      padding: 1rem;
    }
  }
}
