@import 'common/base';
@import 'common/grid';
@import 'common/material-icons';
@import 'common/nav';
@import 'common/modal';
@import 'common/edit';
@import 'common/loader';

.main {
  max-width: 1024px;
  padding: 2rem;
  margin: 0 auto;
  color: #fff;
  div {
    section {
      border: 1px solid #fff;
      margin: 1rem auto;
      padding: 1rem;
    }
  }
}

.deleteBtn {
  border: none;
  background: #cc4c63;
  color: #fff;
  font-size: 1.4rem;
  border-radius: .5rem;
  padding: .5rem 1rem;
}

.editBtn {
  @extend .deleteBtn;
  background: #f58e5d;
}
