* {
  box-sizing: border-box;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "San Francisco";
  font-size: 1.4rem;
  background: linear-gradient(45deg, #1d111c 0%,#351a26 55%,#351a26 55%,#351a26 57%,#351a26 61%,#562732 100%);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
.responsive-img {
  size: 100% auto;
}

img {
  vertical-align: bottom;
}

input {
  -webkit-appearance: none;
  border: none;
}

textarea {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  &:link {
    color: #00838f;
  }
  &:visited {
    color: #00838f;
  }
}

i {
  cursor: pointer
}

@define-mixin min $minWidth {
  @media screen and (width >= $minWidth) {
    @mixin-content;
  }
}

@define-mixin max $maxWidth {
  @media screen and (width <= $maxWidth) {
    @mixin-content;
  }
}

@define-mixin between $minWidth, $maxWidth {
  @media screen and (width >= $minWidth) and (width <= $maxWidth) {
    @mixin-content;
  }
}
