.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;
  display: inline-block;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.md-18 {
  font-size: 1.8rem;
}

.md-24 {
  font-size: 2.4rem;
}

.md-26 {
  font-size: 2.6rem;
}
