.modal {
  position: absolute;
  size: 60% 50%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  z-index: 100;
  border-radius: 1rem;
  background: #ffebee;
  box-shadow: 0 1px 6px rgba(0,0,0,.35);
  span {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
  }
  h2 {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    color: #e57373;
    background: #fff;
  }
  div {
    form {
      textarea {
        border: 1px solid #ffcdd2;
        font-size: 1.6rem;
        padding: 2rem;
        margin: 2rem auto;
        size: 100% 15rem;
        border-radius: .5rem;
        resize: none;
      }
      input {
        border-radius: 1rem;
        color: #fff;
        font-size: 2rem;
        background: #ef9a9a;
        padding: 1rem 2rem;
      }
      div {
        font-size: 2rem;
        color: #e57373;
      }
    }
  }
}

.modal-bg {
  size: 100% 100%;
  position: absolute;
  z-index: 10;
  background: color(#000 a(50%));
}

.deleteOk {
  border: none;
  background: #cc4c63;
  color: #fff;
  font-size: 1.8rem;
  border-radius: .5rem;
  padding: 1rem 1rem;
  text-align: center;
  margin: 8rem auto;
}

.deleteChancel {
  @extend .deleteOk;
  background: #f58e5d;
}

.complete {
  position: absolute;
  size: 60% 50%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  z-index: 100;
  border-radius: 1rem;
  background: #ffebee;
}
