.modal {
  position: absolute;
  size: 60% 50%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  z-index: 100;
  border-radius: 1rem;
  background: #e0f2f1;
  box-shadow: 0 1px 6px rgba(0,0,0,.35);
  span {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
  }
  h2 {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    color: #8899a6;
    background: #fff;
  }
  div {
    form {
      textarea {
        border: 1px solid #b2dfdb;
        font-size: 1.6rem;
        padding: 2rem;
        margin: 2rem auto;
        size: 100% 15rem;
        border-radius: .5rem;
        resize: none;
      }
      input {
        border-radius: 1rem;
        color: #b2dfdb;
        font-size: 2rem;
        background: #009688;
        padding: 1rem 2rem;
      }
      div {
        font-size: 2rem;
      }
    }
  }
}

.modal-bg {
  size: 100% 100%;
  position: absolute;
  z-index: 10;
  background: color(#000 a(50%));
}
