.nav {
  background: linear-gradient(135deg, #c9334e 0%,#e06255 50%,#e06255 51%,#f38e5a 100%);
  color: #fff;
  padding: 1rem;
  font-size: 2rem;
  nav {
    max-width: 1024px;
    margin: 0 auto;
    section {
      text-align: center;
      time {
        justify-content: flex-start;
        display: flex;
        padding: 1rem 0 .5rem;
      }
    }
  }
}

.postBtn {
  border: 1px solid #fff;
  padding: .8rem;
}
